[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Choonghyun Jeon (kchhero)
[access "refs/for/refs/*"]
	read = group user/Choonghyun Jeon (kchhero)
	push = group user/Choonghyun Jeon (kchhero)
	label-Code-Review = -2..+2 group user/Choonghyun Jeon (kchhero)
	label-Code-Review = -2..+2 group user/Nexell Jenkins (nxJenkins)
	label-Verified = -1..+1 group user/Choonghyun Jeon (kchhero)
	label-Verified = -1..+1 group user/Nexell Jenkins (nxJenkins)
	rebase = group user/Choonghyun Jeon (kchhero)
	removeReviewer = group user/Choonghyun Jeon (kchhero)
	submit = group user/Choonghyun Jeon (kchhero)
[access "refs/heads/*"]
	read = group user/Choonghyun Jeon (kchhero)
	create = group user/Choonghyun Jeon (kchhero)
	push = +force group user/Choonghyun Jeon (kchhero)
	pushMerge = group user/Choonghyun Jeon (kchhero)
[access "refs/tags/*"]
	push = group user/Choonghyun Jeon (kchhero)
	push = +force group user/Choonghyun Jeon (kchhero)
